* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
}

.cardRight {
	padding: 10px;
	width: 25rem;
	background-color: white;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	text-align: start;
	border-radius: 10px;
	margin: auto;
	margin-top: 4em;
}

.cardRight > h1 {
	font-size: 20px;
}

.cardRight > h2 {
	margin-top: 10px;
}
.grey {
	color: grey;
	font-size: 15px;
	margin-block: 2px;
}

.days {
	color: grey;
	font-size: 1em;
}
.cardRight > div > h3 {
	color: grey;
	font-size: 15px;
	margin-top: 2px;
}

.gameSection {
	margin-top: 10px;
}
.divGame {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin-top: 5px;
}

.nameGames {
	display: flex;

	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.nameGames > div:first-child {
	flex: 1;
}
.nameGames > div:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img_resize {
	width: 25rem;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	text-align: start;
	border-radius: 10px;
	margin: auto;
	margin-top: 1em;
}

.fixed {
	position: sticky;
	top: 0;
	min-height: 10px;
}

footer {
	text-align: center;
	margin-top: em;
	font-size: 11px;
	margin-top: 1em;
}

footer > img {
	margin-top: 5px;
}
