.new-experience-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 600px;
	padding: 20px;
	background-color: #f3f3f3;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-experience-form input,
.new-experience-form textarea {
	font-size: 18px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}

.new-experience-form textarea {
	resize: none;
	height: 100px;
}

.new-experience-form button {
	font-size: 18px;
	padding: 10px 20px;
	color: #fff;
	background-color: #0073b1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.new-experience-form button:hover {
	background-color: #005582;
}
.saved {
	margin-top: 0.7rem;
	padding: 1rem;
}
.section1 {
	padding: 1rem;
}

.section2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

hr {height: 1px;
border: none;
background-color: #000;}

.user-title {
	padding-bottom: 1rem;
}
.stats {
	padding-left: 2rem;
}