.gruppieventi {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgb(0, 174, 255);
}

.gruppieventi a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    font-weight: 400;
}

.plusicon {
    color: rgba(0, 0, 0, 0.767);
    font-size: large;
    margin-top: 1rem;
    margin-left: 20rem;
}
#eventi {
    margin-top: 1.6rem;
}
.fa-linkedin {
    color: rgb(255, 153, 0);
}
.fa-bookbark {
    color:#494949; 
}
.linkcard p {
    font-weight: 400;
}
.provaper {
    color: black;
    margin-top: 2rem;
}
.provaper p {
    color: black;
    font-weight: 400;
}    
.paragraph {
    color: #494949;
}
.profilepic {
    object-fit: cover;
}
.center {
    margin-top: -12px;
}
