@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	/* COLORS */
	--text-color: #000;
	/* LAYOUT */
	--navbar-height: 8rem;
	--aside-width: 30rem;
	--border-radius: 15px;
}

/*******************************/
/* GENERAL */
/*******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--text-color);
	min-height: 100vh;
}

/*******************************/
/* LAYOUT */
/*******************************/

.header {
	height: var(--navbar-height);
}

.main {
	display: grid;
	grid-area: "profile post ads";
	grid-template-columns: var(--aside-width) 1fr var(--aside-width);
	min-height: calc(100vh - var(--navbar-height));
}

.profile {
	grid-area: "profile";
	background-color: aqua;
}

.post-section {
	grid-area: "post";
	background-color: orangered;
}

.ads {
	grid-area: "ads";
	background-color: blueviolet;
}

.post {
	font-size: 3.2rem;
}
