@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	/* COLORS */
	--text-color: #000;
	--text-color-light: #494949;
	--primary-color: #fff;
	--secondary-color: #f1f1e9;
	/* LAYOUT */
	--navbar-height: 9rem;
	--aside-width: 32rem;
	--main-width: minmax(60rem, 80rem);
	--border-radius: 10px;
	--border-radius-large: calc(var(--border-radius) * 2);
	--border-radius-small: calc(var(--border-radius) / 2);
	--margin-beetween: 1.6rem;
	/* NAVBAR */
	--profile-photo-width: 4rem;
	--linkedin-logo-height: 8rem;
	/* ASIDE LEFT */
	--aside-profile-photo-width: 8rem;
}

/*******************************/
/* GENERAL */
/*******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--text-color);
	min-height: 100vh;
	font-size: 1.6rem;
	background-color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

ul,
li {
	all: unset;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
}

/*******************************/
/* LAYOUT */
/*******************************/

.main-navbar {
	height: var(--navbar-height);
	background-color: #fff;
}

.main {
	margin-top: var(--navbar-height);
	display: grid;
	place-content: start center;
	grid-template-columns: var(--aside-width) var(--main-width) var(--aside-width);
	min-height: calc(100vh - var(--navbar-height));
}

.profile {
	/* background-color: aqua; */
}

.post-section {
	/* background-color: orangered; */
}

.ads {
	/* background-color: blueviolet; */
}

.profile,
.post-section,
.ads {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;
	margin-top: 2.4rem;
	width: 100%;
}

/* TODO fix white space */

.profile > *,
.post-section > *,
.ads > * {
	width: calc(100% - (var(--margin-beetween) * 2));
}

/*******************************/
/* MAIN NAVBAR */
/*******************************/

.main-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;

	i {
		font-size: 3rem;
		color: inherit;
	}

	.fa-sort-down {
		font-size: 1.8rem;
	}
}

.linkedin-logo {
	height: var(--linkedin-logo-height);
}

.logo-search-wrapper {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	width: 50rem;
}

.search-wrapper {
	position: relative;
}

.search-wrapper .fa-search {
	position: absolute;
	left: 0.8rem;
	font-size: 2rem;
	top: 25%;
}

.search-input {
	width: 30rem;
	height: 4rem;
	font-size: 1.6rem;
	padding-left: 3.2rem;
	border: none;
	border-radius: var(--border-radius-small);
	background-color: #cfe3e4;
	transition: width 300ms linear;

	&:focus {
		width: 40rem;
	}
}

.navbar-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1.4rem;
	text-align: center;
	margin-top: 3px;
	font-size: 1.3rem;
	color: #777;

	& > li {
		width: 8.4rem;
	}
}

.navbar-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 0.4rem;

	&:hover,
	&.active-page {
		color: #000;
	}

	&.active-page {
		border-bottom: 3px solid currentColor;
	}
}

.main-nav-icon {
	height: var(--profile-photo-width);
	width: var(--profile-photo-width);
}

.profile-photo {
	border-radius: 50%;
	height: var(--profile-photo-width);
	width: var(--profile-photo-width);
	object-fit: cover;
}

.profile-dropdown-wrapper {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.navbar-companies {
	margin-left: 8rem;
}

/*******************************/
/* ASIDE LEFT */
/*******************************/

.aside-left-card {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.cover {
	height: 8rem;
	width: 100%;
	object-fit: cover;
}

.pic-profile {
	margin-top: calc(var(--aside-profile-photo-width) / (-2));
	border: 4px solid #fff;
	align-self: center;
	width: var(--aside-profile-photo-width);
	height: var(--aside-profile-photo-width);
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	text-align: center;
	margin-bottom: 2rem;
}

.user-name {
	margin: 0.5rem 0;
	font-size: 1.8rem;
	font-weight: 700;
}

.user-title {
	font-size: 1.4rem;
	color: #666;
}

.stats {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 0 1.2rem;
	margin-bottom: 20px;
	row-gap: 0.5rem;
	font-size: 1.4rem;
}

.stats > p:nth-child(even) {
	font-weight: 600;
}

.profile-links {
	margin-bottom: 1rem;
	font-weight: 400;

	.fa-linkedin {
		color: #ff9900;
	}

	.fa-bookbark {
		color: #4a4a4a;
	}

	& > *:not(hr) {
		margin-left: 1rem;
	}

	a {
		font-weight: 500;
		display: flex;
		gap: 0.4rem;
	}

	a i {
		width: 1.4rem;
	}
}

.scopri {
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.linkcard {
	margin-left: 1rem;
	margin-top: 1rem;
}

.groups-events-containter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	color: #00aeff;
	margin-bottom: 1rem;
}

.groups-events-containter a {
	font-weight: 400;
}

.plusicon {
	color: #000000c4;
	font-size: large;
	margin-right: 1rem;
}

/*******************************/
/* MAIN */
/*******************************/

/* CREATE POST */

.new-post-form {
	margin-bottom: 2.4rem;
	width: 70rem;
}

.btn-create-post {
	border-radius: var(--border-radius-large);
	border: 2px solid #acacac;
	width: 100%;
	height: 4.8rem;
	font-weight: 500;
	padding: 1rem;
	text-align: start;
	color: var(--text-color-light);
}

.dropdown-btn {
	margin-right: 2rem;
	margin-left: 2rem;
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: white;
	border-radius: 0.5rem;
	cursor: pointer;
	border: solid 1px #8b8b8b;
}

.toggle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
}

/* DROPDOWN FILTER */

.dropdown-filter {
	position: relative;
}

.dropdown-content {
	position: absolute;
	right: -40%;
	width: 40rem;
	opacity: 0;
	margin: 0.5rem 2rem;
	padding: 1.4rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	background-color: #fff;
	border-radius: var(--border-radius-small);
	box-shadow: 2px 10px 42px 0px #16161652;
	cursor: pointer;

	& > * {
		padding: 0.2rem 0.8rem;
	}
}

.dropdown-content.content-open {
	opacity: 1;
}

.intro {
	font-size: 1.4rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 0.4rem;

	.intro-text {
		color: var(--text-color-light);
	}

	.selection {
		font-size: 1.6rem;
	}
}

.description {
	line-height: 1.5;
	font-size: 1.2rem;
}

.filter-option {
	&:hover {
		background-color: #bdbdbdde;
	}
}

/* POSTS */

.posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;
	width: 70rem;
}

.post,
.new-post-form {
	display: flex;
	flex-direction: column;
	padding: 1.6rem;
	background-color: #fff;
	border: 1px solid #777;
	border-radius: var(--border-radius);
}

.post {
	width: 100%;
}

.post-header,
.new-post-header {
	display: flex;
	flex-direction: row;
}

.post-profile-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 0 1rem 1rem 0;
	object-fit: cover;
	margin-top: 4px;
}

.post-body {
	padding: 15px;
	border-bottom: 1px solid black;
}

.new-post-profile-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 0 1rem 1rem 0;
	object-fit: cover;
	margin-top: -5px;
}

.post-image {
	width: 100%;
	height: 30rem;
}

.post-footer,
.new-post-actions-container {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.fa-thumbs-up {
	color: #00a2ff;
}

.fa-comment {
	color: green;
}

.fa-paper-plane {
	color: #ff9900;
}

.fa-share {
	color: #ca0000;
}

.new-post-actions-container {
	margin-top: 1.5rem;
}

.new-post-actions-container {
	p {
		font-weight: 400;
	}
	i[data-btn="multimedia-contents"] {
		color: #00a2ff;
	}
	i[data-btn="events"] {
		color: #d18800;
	}
	i[data-btn="write-article"] {
		color: #ca0000;
	}
}

.action-wrapper {
	display: flex;
	align-items: center;
	gap: 0.8rem;

	i {
		font-size: 1.8rem;
	}
}

.pics {
	color: #0073b1;
}

.calendar {
	color: #deb887;
}

.paper {
	color: #f00;
}

/*******************************/
/* ASIDE RIGHT */
/*******************************/

.ads-card--1 {
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
}

.ads-card > h2 {
	font-size: 2.4rem;
}

.ads-card small {
	color: #777;
	font-size: 1.5rem;
	position: sticky;
}

.game-container {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 1rem;
}

.ads-image {
	width: 100%;
	border: 1px solid grey;
	border-radius: var(--border-radius);
}

.footer {
	text-align: center;
	font-size: 1.2rem;
	margin-top: 1rem;
	border-radius: 10px;
}

.footer-links {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	gap: 0.2rem;
}

/*******************************/
/* QUERIES */
/*******************************/

@media screen and (width < 85em) {
	.main {
		grid-template-columns: var(--aside-width) var(--main-width);
	}

	.ads {
		display: none;
	}

	.navbar-companies {
		display: none;
	}

	.dropdown-content {
		right: -20%;
		width: 30rem;
	}
}

@media screen and (width < 65em) {
	:root {
		--navbar-height: 18rem;
	}

	.main {
		grid-template-columns: var(--main-width);
	}

	.profile {
		display: none;
	}

	.main-navbar {
		flex-direction: column-reverse;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.search-input {
		width: 40rem;
		transition: none;
	}
}

@media screen and (width < 46em) {
	html {
		font-size: 50%;
	}
}

@media screen and (width < 37em) {
	html {
		font-size: 42.5%;
	}
	body {
		font-size: 2.2rem;
	}
}

@media screen and (width < 31em) {
	html {
		font-size: 37.5%;
	}
}

@media screen and (width < 28em) {
	html {
		font-size: 32%;
	}
}

@media screen and (width < 25em) {
	html {
		font-size: 25%;
	}
	body {
		font-size: 3.2rem;
	}
}
